@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

body{
  background-image: linear-gradient( -45deg, #f5eeed 25%, #eddef4 25%, #deeaf4 50%, #f5eeed 50%, #f5eeed 75%, #deeaf4 75%, #deeaf4 );
background-size: 30px 30px;

  
}
/* header{
  color: red;
  background-color: rgba(203, 248, 238, 0.897);
}  */

/* p {
  color:#ff1493;
  font-size: 50px;
  font-family: "serif";
} */
p1{
  color:hotpink;
  font-size: 50px;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(255, 0, 200);
  text-align: center;
  font-size: 80px;
}
.comment {
  font-family: 'Kosugi Maru', sans-serif;
  color: rgb(245, 52, 149);
  background-color: rgb(234, 247, 248);
  text-align: center;
  margin-top: 70px;
  font-size: 50px;
  /* padding: 20px; */
}
.hello {
  font-family: 'Kosugi Maru', sans-serif;
  color: rgb(238, 9, 123);
  background-color: rgb(234, 247, 248);
  text-align: center;
  margin-top: 100px;
  font-size: 80px;
  /* padding: 20px; */
}
.cat {
  font-family: 'Kosugi Maru', sans-serif;
  color: rgb(238, 9, 123);
  background-color: rgb(234, 247, 248);
  text-align: center;
  margin-top: 100px;
  font-size: 80px;
  /* padding: 20px; */
}
